.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-gray);
  z-index: 10;
}

.nav-name{
    display: flex;
    margin-left: 2rem;
    color: white;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .nav-name {
    margin: 1 0rem;
  }

}

.nav-list a {
  display: block;
  font-size: 1.1rem;
  padding: 1rem;
}

.nav-name a {
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
  }

.nav-list a:hover {
    color: white;
}
